[Unit]
Description=PWM Fan Control
After=mediacenter.service

[Service]
Type=simple
User=root
ExecStart= /usr/bin/python /home/vojrik/Scripts/Fan/fan_ctrl_CPU.py
Restart=always

[Install]
WantedBy=default.target
